In [106]:
from pyspark.sql import SparkSession

In [107]:
spark = SparkSession.builder.appName("aula").enableHiveSupport().getOrCreate()

In [108]:
spark

In [116]:
df = spark.read.csv('hdfs:///user/MBA/',header=True)

In [117]:
df.count()

40839

In [114]:
df2 = spark.read.csv('s3a://mba/dados',header=True)

In [115]:
df2.show(5)

+----------+-------------+-------------+--------------+--------------+--------------+--------+--------------+-----------+
|      date|home_teamName|away_teamName|home_scoreHome|away_scoreAway|tournamentName|cityCity|countryCountry|neutralTRUE|
+----------+-------------+-------------+--------------+--------------+--------------+--------+--------------+-----------+
|1872-11-30|     Scotland|      England|             0|             0|      Friendly| Glasgow|      Scotland|      FALSE|
|1873-03-08|      England|     Scotland|             4|             2|      Friendly|  London|       England|      FALSE|
|1874-03-07|     Scotland|      England|             2|             1|      Friendly| Glasgow|      Scotland|      FALSE|
|1875-03-06|      England|     Scotland|             2|             2|      Friendly|  London|       England|      FALSE|
|1876-03-04|     Scotland|      England|             3|             0|      Friendly| Glasgow|      Scotland|      FALSE|
+----------+-------------+-------------+--------------+--------------+--------------+--------+--------------+-----------+
only showing top 5 rows

In [118]:
df2.write.format('hive').saveAsTable('mba.results')

In [119]:
df2.createOrReplaceTempView('results')

In [126]:
df2.filter(df2.home_teamName == 'Portugal').show(5)

+----------+-------------+-------------+--------------+--------------+--------------+--------+--------------+-----------+
|      date|home_teamName|away_teamName|home_scoreHome|away_scoreAway|tournamentName|cityCity|countryCountry|neutralTRUE|
+----------+-------------+-------------+--------------+--------------+--------------+--------+--------------+-----------+
|1922-12-17|     Portugal|        Spain|             1|             2|      Friendly|  Lisbon|      Portugal|      FALSE|
|1925-06-18|     Portugal|        Italy|             1|             0|      Friendly|  Lisbon|      Portugal|      FALSE|
|1926-12-26|     Portugal|      Hungary|             3|             3|      Friendly|   Porto|      Portugal|      FALSE|
|1927-03-16|     Portugal|       France|             4|             0|      Friendly|  Lisbon|      Portugal|      FALSE|
|1928-01-08|     Portugal|        Spain|             2|             2|      Friendly|  Lisbon|      Portugal|      FALSE|
+----------+-------------+-------------+--------------+--------------+--------------+--------+--------------+-----------+
only showing top 5 rows

In [127]:
spark.sql('select * from results where home_teamname = "Portugal"').show(5)

+----------+-------------+-------------+--------------+--------------+--------------+--------+--------------+-----------+
|      date|home_teamName|away_teamName|home_scoreHome|away_scoreAway|tournamentName|cityCity|countryCountry|neutralTRUE|
+----------+-------------+-------------+--------------+--------------+--------------+--------+--------------+-----------+
|1922-12-17|     Portugal|        Spain|             1|             2|      Friendly|  Lisbon|      Portugal|      FALSE|
|1925-06-18|     Portugal|        Italy|             1|             0|      Friendly|  Lisbon|      Portugal|      FALSE|
|1926-12-26|     Portugal|      Hungary|             3|             3|      Friendly|   Porto|      Portugal|      FALSE|
|1927-03-16|     Portugal|       France|             4|             0|      Friendly|  Lisbon|      Portugal|      FALSE|
|1928-01-08|     Portugal|        Spain|             2|             2|      Friendly|  Lisbon|      Portugal|      FALSE|
+----------+-------------+-------------+--------------+--------------+--------------+--------+--------------+-----------+
only showing top 5 rows

In [11]:
##CRIAR UM DATAFRAME NA MAO

In [14]:
df = spark.createDataFrame(
    [{"id":1,"nome":"Giovanna"},
    {"id":2,"nome":"Gabriel"},
    {"id":3,"nome":"Bruno"}]
)

In [15]:
df.show()

+---+--------+
| id|    nome|
+---+--------+
|  1|Giovanna|
|  2| Gabriel|
|  3|   Bruno|
+---+--------+

In [20]:
##DATAFRAME A PARTIR DE ARQUIVOS
## /raw/dados/results.csv

df_results = spark.read.csv('s3a://raw/dados/results.csv',header=True)

In [21]:
df_results.show()

+----------+----------------+-------------+--------------+--------------+--------------+---------+-------------------+-----------+
|      date|   home_teamName|away_teamName|home_scoreHome|away_scoreAway|tournamentName| cityCity|     countryCountry|neutralTRUE|
+----------+----------------+-------------+--------------+--------------+--------------+---------+-------------------+-----------+
|1872-11-30|        Scotland|      England|             0|             0|      Friendly|  Glasgow|           Scotland|      FALSE|
|1873-03-08|         England|     Scotland|             4|             2|      Friendly|   London|            England|      FALSE|
|1874-03-07|        Scotland|      England|             2|             1|      Friendly|  Glasgow|           Scotland|      FALSE|
|1875-03-06|         England|     Scotland|             2|             2|      Friendly|   London|            England|      FALSE|
|1876-03-04|        Scotland|      England|             3|             0|      Friendly|  Glasgow|           Scotland|      FALSE|
|1876-03-25|        Scotland|        Wales|             4|             0|      Friendly|  Glasgow|           Scotland|      FALSE|
|1877-03-03|         England|     Scotland|             1|             3|      Friendly|   London|            England|      FALSE|
|1877-03-05|           Wales|     Scotland|             0|             2|      Friendly|  Wrexham|              Wales|      FALSE|
|1878-03-02|        Scotland|      England|             7|             2|      Friendly|  Glasgow|           Scotland|      FALSE|
|1878-03-23|        Scotland|        Wales|             9|             0|      Friendly|  Glasgow|           Scotland|      FALSE|
|1879-01-18|         England|        Wales|             2|             1|      Friendly|   London|            England|      FALSE|
|1879-04-05|         England|     Scotland|             5|             4|      Friendly|   London|            England|      FALSE|
|1879-04-07|           Wales|     Scotland|             0|             3|      Friendly|  Wrexham|              Wales|      FALSE|
|1880-03-13|        Scotland|      England|             5|             4|      Friendly|  Glasgow|           Scotland|      FALSE|
|1880-03-15|           Wales|      England|             2|             3|      Friendly|  Wrexham|              Wales|      FALSE|
|1880-03-27|        Scotland|        Wales|             5|             1|      Friendly|  Glasgow|           Scotland|      FALSE|
|1881-02-26|         England|        Wales|             0|             1|      Friendly|Blackburn|            England|      FALSE|
|1881-03-12|         England|     Scotland|             1|             6|      Friendly|   London|            England|      FALSE|
|1881-03-14|           Wales|     Scotland|             1|             5|      Friendly|  Wrexham|              Wales|      FALSE|
|1882-02-18|Northern Ireland|      England|             0|            13|      Friendly|  Belfast|Republic of Ireland|      FALSE|
+----------+----------------+-------------+--------------+--------------+--------------+---------+-------------------+-----------+
only showing top 20 rows

In [22]:
df_results.printSchema()

root
 |-- date: string (nullable = true)
 |-- home_teamName: string (nullable = true)
 |-- away_teamName: string (nullable = true)
 |-- home_scoreHome: string (nullable = true)
 |-- away_scoreAway: string (nullable = true)
 |-- tournamentName: string (nullable = true)
 |-- cityCity: string (nullable = true)
 |-- countryCountry: string (nullable = true)
 |-- neutralTRUE: string (nullable = true)

In [24]:
resultados = df_results.drop('neutralTRUE')

In [27]:
resultados.show()

+----------+----------------+-------------+--------------+--------------+--------------+---------+-------------------+
|      date|   home_teamName|away_teamName|home_scoreHome|away_scoreAway|tournamentName| cityCity|     countryCountry|
+----------+----------------+-------------+--------------+--------------+--------------+---------+-------------------+
|1872-11-30|        Scotland|      England|             0|             0|      Friendly|  Glasgow|           Scotland|
|1873-03-08|         England|     Scotland|             4|             2|      Friendly|   London|            England|
|1874-03-07|        Scotland|      England|             2|             1|      Friendly|  Glasgow|           Scotland|
|1875-03-06|         England|     Scotland|             2|             2|      Friendly|   London|            England|
|1876-03-04|        Scotland|      England|             3|             0|      Friendly|  Glasgow|           Scotland|
|1876-03-25|        Scotland|        Wales|             4|             0|      Friendly|  Glasgow|           Scotland|
|1877-03-03|         England|     Scotland|             1|             3|      Friendly|   London|            England|
|1877-03-05|           Wales|     Scotland|             0|             2|      Friendly|  Wrexham|              Wales|
|1878-03-02|        Scotland|      England|             7|             2|      Friendly|  Glasgow|           Scotland|
|1878-03-23|        Scotland|        Wales|             9|             0|      Friendly|  Glasgow|           Scotland|
|1879-01-18|         England|        Wales|             2|             1|      Friendly|   London|            England|
|1879-04-05|         England|     Scotland|             5|             4|      Friendly|   London|            England|
|1879-04-07|           Wales|     Scotland|             0|             3|      Friendly|  Wrexham|              Wales|
|1880-03-13|        Scotland|      England|             5|             4|      Friendly|  Glasgow|           Scotland|
|1880-03-15|           Wales|      England|             2|             3|      Friendly|  Wrexham|              Wales|
|1880-03-27|        Scotland|        Wales|             5|             1|      Friendly|  Glasgow|           Scotland|
|1881-02-26|         England|        Wales|             0|             1|      Friendly|Blackburn|            England|
|1881-03-12|         England|     Scotland|             1|             6|      Friendly|   London|            England|
|1881-03-14|           Wales|     Scotland|             1|             5|      Friendly|  Wrexham|              Wales|
|1882-02-18|Northern Ireland|      England|             0|            13|      Friendly|  Belfast|Republic of Ireland|
+----------+----------------+-------------+--------------+--------------+--------------+---------+-------------------+
only showing top 20 rows

In [28]:
partidas = resultados \
    .withColumnRenamed('date','dt') \
    .withColumnRenamed('home_teamName','mandante') \
    .withColumnRenamed('away_teamName','visitante') \
    .withColumnRenamed('home_scoreHome','gol_mandante') \
    .withColumnRenamed('away_scoreAway','gol_visitante') \
    .withColumnRenamed('tournamentName','torneio') \
    .withColumnRenamed('cityCity','cidade') \
    .withColumnRenamed('countryCountry','pais')

In [29]:
partidas.show()

+----------+----------------+---------+------------+-------------+--------+---------+-------------------+
|        dt|        mandante|visitante|gol_mandante|gol_visitante| torneio|   cidade|               pais|
+----------+----------------+---------+------------+-------------+--------+---------+-------------------+
|1872-11-30|        Scotland|  England|           0|            0|Friendly|  Glasgow|           Scotland|
|1873-03-08|         England| Scotland|           4|            2|Friendly|   London|            England|
|1874-03-07|        Scotland|  England|           2|            1|Friendly|  Glasgow|           Scotland|
|1875-03-06|         England| Scotland|           2|            2|Friendly|   London|            England|
|1876-03-04|        Scotland|  England|           3|            0|Friendly|  Glasgow|           Scotland|
|1876-03-25|        Scotland|    Wales|           4|            0|Friendly|  Glasgow|           Scotland|
|1877-03-03|         England| Scotland|           1|            3|Friendly|   London|            England|
|1877-03-05|           Wales| Scotland|           0|            2|Friendly|  Wrexham|              Wales|
|1878-03-02|        Scotland|  England|           7|            2|Friendly|  Glasgow|           Scotland|
|1878-03-23|        Scotland|    Wales|           9|            0|Friendly|  Glasgow|           Scotland|
|1879-01-18|         England|    Wales|           2|            1|Friendly|   London|            England|
|1879-04-05|         England| Scotland|           5|            4|Friendly|   London|            England|
|1879-04-07|           Wales| Scotland|           0|            3|Friendly|  Wrexham|              Wales|
|1880-03-13|        Scotland|  England|           5|            4|Friendly|  Glasgow|           Scotland|
|1880-03-15|           Wales|  England|           2|            3|Friendly|  Wrexham|              Wales|
|1880-03-27|        Scotland|    Wales|           5|            1|Friendly|  Glasgow|           Scotland|
|1881-02-26|         England|    Wales|           0|            1|Friendly|Blackburn|            England|
|1881-03-12|         England| Scotland|           1|            6|Friendly|   London|            England|
|1881-03-14|           Wales| Scotland|           1|            5|Friendly|  Wrexham|              Wales|
|1882-02-18|Northern Ireland|  England|           0|           13|Friendly|  Belfast|Republic of Ireland|
+----------+----------------+---------+------------+-------------+--------+---------+-------------------+
only showing top 20 rows

In [30]:
partidas.printSchema()

root
 |-- dt: string (nullable = true)
 |-- mandante: string (nullable = true)
 |-- visitante: string (nullable = true)
 |-- gol_mandante: string (nullable = true)
 |-- gol_visitante: string (nullable = true)
 |-- torneio: string (nullable = true)
 |-- cidade: string (nullable = true)
 |-- pais: string (nullable = true)

In [52]:
from pyspark.sql.functions import col
df_final = partidas \
    .withColumn('dt',col('dt').cast("date")) \
    .withColumn('gol_mandante',col('gol_mandante').cast("int")) \
    .withColumn('gol_visitante',col('gol_visitante').cast("int"))

In [53]:
df_final.printSchema()

root
 |-- dt: date (nullable = true)
 |-- mandante: string (nullable = true)
 |-- visitante: string (nullable = true)
 |-- gol_mandante: integer (nullable = true)
 |-- gol_visitante: integer (nullable = true)
 |-- torneio: string (nullable = true)
 |-- cidade: string (nullable = true)
 |-- pais: string (nullable = true)

In [54]:
df_final.show()

+----------+----------------+---------+------------+-------------+--------+---------+-------------------+
|        dt|        mandante|visitante|gol_mandante|gol_visitante| torneio|   cidade|               pais|
+----------+----------------+---------+------------+-------------+--------+---------+-------------------+
|1872-11-30|        Scotland|  England|           0|            0|Friendly|  Glasgow|           Scotland|
|1873-03-08|         England| Scotland|           4|            2|Friendly|   London|            England|
|1874-03-07|        Scotland|  England|           2|            1|Friendly|  Glasgow|           Scotland|
|1875-03-06|         England| Scotland|           2|            2|Friendly|   London|            England|
|1876-03-04|        Scotland|  England|           3|            0|Friendly|  Glasgow|           Scotland|
|1876-03-25|        Scotland|    Wales|           4|            0|Friendly|  Glasgow|           Scotland|
|1877-03-03|         England| Scotland|           1|            3|Friendly|   London|            England|
|1877-03-05|           Wales| Scotland|           0|            2|Friendly|  Wrexham|              Wales|
|1878-03-02|        Scotland|  England|           7|            2|Friendly|  Glasgow|           Scotland|
|1878-03-23|        Scotland|    Wales|           9|            0|Friendly|  Glasgow|           Scotland|
|1879-01-18|         England|    Wales|           2|            1|Friendly|   London|            England|
|1879-04-05|         England| Scotland|           5|            4|Friendly|   London|            England|
|1879-04-07|           Wales| Scotland|           0|            3|Friendly|  Wrexham|              Wales|
|1880-03-13|        Scotland|  England|           5|            4|Friendly|  Glasgow|           Scotland|
|1880-03-15|           Wales|  England|           2|            3|Friendly|  Wrexham|              Wales|
|1880-03-27|        Scotland|    Wales|           5|            1|Friendly|  Glasgow|           Scotland|
|1881-02-26|         England|    Wales|           0|            1|Friendly|Blackburn|            England|
|1881-03-12|         England| Scotland|           1|            6|Friendly|   London|            England|
|1881-03-14|           Wales| Scotland|           1|            5|Friendly|  Wrexham|              Wales|
|1882-02-18|Northern Ireland|  England|           0|           13|Friendly|  Belfast|Republic of Ireland|
+----------+----------------+---------+------------+-------------+--------+---------+-------------------+
only showing top 20 rows

In [49]:
p = df_final.toPandas()

In [51]:
import pandas as pd

In [55]:
##VALIDACAO

In [56]:
df_final.describe().show()

+-------+-------------+-------------+------------------+------------------+---------------+-------------------+-----------+
|summary|     mandante|    visitante|      gol_mandante|     gol_visitante|        torneio|             cidade|       pais|
+-------+-------------+-------------+------------------+------------------+---------------+-------------------+-----------+
|  count|        40839|        40839|             40839|             40839|          40839|              40839|      40839|
|   mean|         null|         null|1.7457087587844953| 1.188104507945836|           null|               null|       null|
| stddev|         null|         null| 1.749144918253105|1.4051198000976632|           null|               null|       null|
|    min|     Abkhazia|     Abkhazia|                 0|                 0|ABCS Tournament|6th of October City|Afghanistan|
|    max|Åland Islands|Åland Islands|                31|                21|World Unity Cup|             ‘Atele|       Éire|
+-------+-------------+-------------+------------------+------------------+---------------+-------------------+-----------+

In [60]:
df_final.sample(0.1).show()

+----------+----------------+----------------+------------+-------------+--------------------+------------+-------------------+
|        dt|        mandante|       visitante|gol_mandante|gol_visitante|             torneio|      cidade|               pais|
+----------+----------------+----------------+------------+-------------+--------------------+------------+-------------------+
|1879-04-07|           Wales|        Scotland|           0|            3|            Friendly|     Wrexham|              Wales|
|1885-02-28|         England|Northern Ireland|           4|            0|British Championship|  Manchester|            England|
|1886-03-13|Northern Ireland|         England|           1|            6|British Championship|     Belfast|Republic of Ireland|
|1888-02-04|         England|           Wales|           5|            1|British Championship|       Crewe|            England|
|1891-03-07|         England|           Wales|           4|            1|British Championship|  Sunderland|            England|
|1891-03-21|           Wales|        Scotland|           3|            4|British Championship|     Wrexham|              Wales|
|1891-03-28|        Scotland|Northern Ireland|           2|            1|British Championship|     Glasgow|           Scotland|
|1895-03-09|         England|Northern Ireland|           9|            0|British Championship|       Derby|            England|
|1896-02-29|           Wales|Northern Ireland|           6|            1|British Championship|     Wrexham|              Wales|
|1903-03-28|Northern Ireland|           Wales|           2|            0|British Championship|     Belfast|Republic of Ireland|
|1903-09-13|       Argentina|         Uruguay|           2|            3|            Friendly|Buenos Aires|          Argentina|
|1906-04-07|        Scotland|         England|           2|            1|British Championship|     Glasgow|           Scotland|
|1906-08-15|         Uruguay|       Argentina|           0|            2|         Copa Lipton|  Montevideo|            Uruguay|
|1907-04-14|         Belgium|     Netherlands|           1|            3|            Friendly|     Antwerp|            Belgium|
|1908-11-01|         Hungary|         Austria|           5|            3|            Friendly|    Budapest|            Hungary|
|1909-05-30|         Hungary|         Austria|           1|            1|            Friendly|    Budapest|            Hungary|
|1910-03-13|         Belgium|     Netherlands|           3|            2|            Friendly|     Antwerp|            Belgium|
|1910-03-14|           Wales|         England|           0|            1|British Championship|     Cardiff|              Wales|
|1910-03-19|Northern Ireland|        Scotland|           1|            0|British Championship|     Belfast|Republic of Ireland|
|1910-04-03|          France|         Belgium|           0|            4|            Friendly|    Gentilly|             France|
+----------+----------------+----------------+------------+-------------+--------------------+------------+-------------------+
only showing top 20 rows

In [64]:
df_final.orderBy('dt',ascending=False).show()

+----------+----------------+---------------+------------+-------------+--------------------+---------+-----+
|        dt|        mandante|      visitante|gol_mandante|gol_visitante|             torneio|   cidade| pais|
+----------+----------------+---------------+------------+-------------+--------------------+---------+-----+
|2019-07-20|Papua New Guinea|           Fiji|           1|            1|       Pacific Games|     Apia|Samoa|
|2019-07-19|      Tajikistan|    North Korea|           0|            1|Intercontinental Cup|Ahmedabad|India|
|2019-07-19|         Senegal|        Algeria|           0|            1|African Cup of Na...|    Cairo|Egypt|
|2019-07-18|Papua New Guinea|          Tonga|           8|            0|       Pacific Games|     Apia|Samoa|
|2019-07-18|   New Caledonia|         Tuvalu|          11|            0|       Pacific Games|     Apia|Samoa|
|2019-07-18|  American Samoa|         Tahiti|           8|            1|       Pacific Games|     Apia|Samoa|
|2019-07-18|           Samoa|        Vanuatu|           0|           11|       Pacific Games|     Apia|Samoa|
|2019-07-18|            Fiji|Solomon Islands|           4|            4|       Pacific Games|     Apia|Samoa|
|2019-07-17|         Tunisia|        Nigeria|           0|            1|African Cup of Na...|    Cairo|Egypt|
|2019-07-16|           India|          Syria|           1|            1|Intercontinental Cup|Ahmedabad|India|
|2019-07-15|            Fiji|         Tuvalu|          10|            1|       Pacific Games|     Apia|Samoa|
|2019-07-15| Solomon Islands| American Samoa|          13|            0|       Pacific Games|     Apia|Samoa|
|2019-07-15|          Tahiti|  New Caledonia|           0|            3|       Pacific Games|     Apia|Samoa|
|2019-07-15|     North Korea|     Tajikistan|           1|            0|Intercontinental Cup|Ahmedabad|India|
|2019-07-15|           Tonga|        Vanuatu|           0|           14|       Pacific Games|     Apia|Samoa|
|2019-07-14|         Algeria|        Nigeria|           2|            1|African Cup of Na...|    Cairo|Egypt|
|2019-07-14|         Senegal|        Tunisia|           1|            0|African Cup of Na...|    Cairo|Egypt|
|2019-07-13|           India|    North Korea|           2|            5|Intercontinental Cup|Ahmedabad|India|
|2019-07-12| Solomon Islands|         Tahiti|           0|            3|       Pacific Games|     Apia|Samoa|
|2019-07-12|           Samoa|          Tonga|           2|            0|       Pacific Games|     Apia|Samoa|
+----------+----------------+---------------+------------+-------------+--------------------+---------+-----+
only showing top 20 rows

In [66]:
df_final.filter(df_final.gol_mandante == 31).show(truncate=False)

+----------+---------+--------------+------------+-------------+----------------------------+-------------+---------+
|dt        |mandante |visitante     |gol_mandante|gol_visitante|torneio                     |cidade       |pais     |
+----------+---------+--------------+------------+-------------+----------------------------+-------------+---------+
|2001-04-11|Australia|American Samoa|31          |0            |FIFA World Cup qualification|Coffs Harbour|Australia|
+----------+---------+--------------+------------+-------------+----------------------------+-------------+---------+

In [68]:
df_final.select(df_final.torneio).distinct().orderBy('torneio').show(truncate=False)

+------------------------------------+
|torneio                             |
+------------------------------------+
|ABCS Tournament                     |
|AFC Asian Cup                       |
|AFC Asian Cup qualification         |
|AFC Challenge Cup                   |
|AFC Challenge Cup qualification     |
|AFF Championship                    |
|AFF Championship qualification      |
|African Cup of Nations              |
|African Cup of Nations qualification|
|African Nations Championship        |
|Amílcar Cabral Cup                  |
|Atlantic Cup                        |
|Atlantic Heritage Cup               |
|Balkan Cup                          |
|Baltic Cup                          |
|Brazil Independence Cup             |
|British Championship                |
|CCCF Championship                   |
|CECAFA Cup                          |
|CFU Caribbean Cup                   |
+------------------------------------+
only showing top 20 rows

In [75]:
df_final \
    .select(df_final.torneio) \
    .distinct() \
    .orderBy('torneio') \
    .count()

109

In [76]:
df_final \
    .groupby('torneio') \
    .count() \
    .orderBy('count',ascending=False) \
    .show(5,truncate=False)

+------------------------------------+-----+
|torneio                             |count|
+------------------------------------+-----+
|Friendly                            |16911|
|FIFA World Cup qualification        |7100 |
|UEFA Euro qualification             |2432 |
|African Cup of Nations qualification|1616 |
|FIFA World Cup                      |900  |
+------------------------------------+-----+
only showing top 5 rows

In [77]:
df_final.createOrReplaceTempView('partidas')

In [80]:
spark.sql('select torneio,count(*) as count from partidas group by torneio order by 2 desc limit 5').show(truncate=False)

+------------------------------------+-----+
|torneio                             |count|
+------------------------------------+-----+
|Friendly                            |16911|
|FIFA World Cup qualification        |7100 |
|UEFA Euro qualification             |2432 |
|African Cup of Nations qualification|1616 |
|FIFA World Cup                      |900  |
+------------------------------------+-----+

In [85]:
df_sql = spark.sql('select torneio,count(*) as count from partidas group by torneio order by 2 desc')

In [86]:
type(df_sql)

pyspark.sql.dataframe.DataFrame

In [93]:
## PARTIDAS DO BRASIL EM AMISTOSOS
df_brasil = df_final \
    .filter(df_final.torneio == 'Friendly') \
    .filter((df_final.mandante == 'Brazil') | (df_final.visitante == 'Brazil'))

In [92]:
## TOTAL DE PARTIDAS 428

In [97]:
## EMPATES
## 80
df_brasil.filter(df_brasil.gol_mandante == df_brasil.gol_visitante).orderBy('dt',ascending=False).show()

+----------+-------------------+-----------+------------+-------------+--------+---------------+-------------------+
|        dt|           mandante|  visitante|gol_mandante|gol_visitante| torneio|         cidade|               pais|
+----------+-------------------+-----------+------------+-------------+--------+---------------+-------------------+
|2019-03-23|             Brazil|     Panama|           1|            1|Friendly|          Porto|           Portugal|
|2017-11-14|            England|     Brazil|           0|            0|Friendly|         London|            England|
|2013-06-02|             Brazil|    England|           2|            2|Friendly| Rio de Janeiro|             Brazil|
|2013-04-24|             Brazil|      Chile|           2|            2|Friendly| Belo Horizonte|             Brazil|
|2013-03-25|             Russia|     Brazil|           1|            1|Friendly|         London|            England|
|2013-03-21|              Italy|     Brazil|           2|            2|Friendly|         Geneva|        Switzerland|
|2012-11-14|             Brazil|   Colombia|           1|            1|Friendly|East Rutherford|      United States|
|2011-09-14|          Argentina|     Brazil|           0|            0|Friendly|        Córdoba|          Argentina|
|2011-06-04|             Brazil|Netherlands|           0|            0|Friendly|        Goiânia|             Brazil|
|2007-06-05|             Turkey|     Brazil|           0|            0|Friendly|       Dortmund|            Germany|
|2007-06-01|            England|     Brazil|           1|            1|Friendly|         London|            England|
|2006-08-16|             Norway|     Brazil|           1|            1|Friendly|           Oslo|             Norway|
|2005-08-17|            Croatia|     Brazil|           1|            1|Friendly|          Split|            Croatia|
|2004-09-08|            Germany|     Brazil|           1|            1|Friendly|         Berlin|            Germany|
|2004-05-20|             France|     Brazil|           0|            0|Friendly|    Saint-Denis|             France|
|2004-02-18|Republic of Ireland|     Brazil|           0|            0|Friendly|         Dublin|Republic of Ireland|
|2003-04-30|             Mexico|     Brazil|           0|            0|Friendly|    Guadalajara|             Mexico|
|2003-02-12|           China PR|     Brazil|           0|            0|Friendly|      Guangzhou|           China PR|
|2002-04-17|           Portugal|     Brazil|           1|            1|Friendly|         Lisbon|           Portugal|
|2001-03-07|             Mexico|     Brazil|           3|            3|Friendly|    Guadalajara|             Mexico|
+----------+-------------------+-----------+------------+-------------+--------+---------------+-------------------+
only showing top 20 rows

In [102]:
## PARTIDAS QUE O BRASIL GANHOU
## 294
df_brasil \
    .filter( \
                ((df_brasil.mandante == 'Brazil') & (df_brasil.gol_mandante > df_brasil.gol_visitante)) \
                | \
                ((df_brasil.visitante == 'Brazil') & (df_brasil.gol_mandante < df_brasil.gol_visitante)) \
           ) \
    .orderBy('dt',ascending=False).count()

294

In [104]:
## PARTIDAS QUE O BRASIL PERDEU
## 54
df_brasil \
    .filter( \
                ((df_brasil.mandante == 'Brazil') & (df_brasil.gol_mandante < df_brasil.gol_visitante)) \
                | \
                ((df_brasil.visitante == 'Brazil') & (df_brasil.gol_mandante > df_brasil.gol_visitante)) \
           ) \
    .orderBy('dt',ascending=False).show()

+----------+-----------+---------+------------+-------------+--------+---------------+-------------+
|        dt|   mandante|visitante|gol_mandante|gol_visitante| torneio|         cidade|         pais|
+----------+-----------+---------+------------+-------------+--------+---------------+-------------+
|2017-06-09|  Argentina|   Brazil|           1|            0|Friendly|      Melbourne|    Australia|
|2013-08-14|Switzerland|   Brazil|           1|            0|Friendly|          Basel|  Switzerland|
|2013-02-06|    England|   Brazil|           2|            1|Friendly|         London|      England|
|2012-11-21|  Argentina|   Brazil|           2|            1|Friendly|   Buenos Aires|    Argentina|
|2012-06-09|     Brazil|Argentina|           3|            4|Friendly|East Rutherford|United States|
|2012-06-03|     Mexico|   Brazil|           2|            0|Friendly|      Arlington|United States|
|2011-08-10|    Germany|   Brazil|           3|            2|Friendly|      Stuttgart|      Germany|
|2011-02-09|     France|   Brazil|           1|            0|Friendly|    Saint-Denis|       France|
|2010-11-17|  Argentina|   Brazil|           1|            0|Friendly|           Doha|        Qatar|
|2008-06-06|     Brazil|Venezuela|           0|            2|Friendly|     Foxborough|United States|
|2007-02-06|   Portugal|   Brazil|           2|            0|Friendly|         London|      England|
|2003-03-29|   Portugal|   Brazil|           2|            1|Friendly|          Porto|     Portugal|
|2002-08-21|     Brazil| Paraguay|           0|            1|Friendly|      Fortaleza|       Brazil|
|1999-09-04|  Argentina|   Brazil|           2|            0|Friendly|   Buenos Aires|    Argentina|
|1999-03-28|South Korea|   Brazil|           1|            0|Friendly|          Seoul|  South Korea|
|1998-04-29|     Brazil|Argentina|           0|            1|Friendly| Rio de Janeiro|       Brazil|
|1997-05-30|     Norway|   Brazil|           4|            2|Friendly|           Oslo|       Norway|
|1993-11-17|    Germany|   Brazil|           2|            1|Friendly|        Cologne|      Germany|
|1992-11-25|     Brazil|  Uruguay|           1|            2|Friendly| Campina Grande|       Brazil|
|1992-04-30|    Uruguay|   Brazil|           1|            0|Friendly|     Montevideo|      Uruguay|
+----------+-----------+---------+------------+-------------+--------+---------------+-------------+
only showing top 20 rows

In [128]:
url = "jdbc:postgresql://postgres:5432/dvdrental"

properties = {
    "user": "admin",
    "password": "admin",
    "driver": "org.postgresql.Driver"
}

In [129]:
df_city = spark.read.jdbc(url=url,table='public.city',properties=properties)

In [130]:
df_city.show(5)

+-------+-----------+----------+-------------------+
|city_id|       city|country_id|        last_update|
+-------+-----------+----------+-------------------+
|      2|       Abha|        82|2006-02-15 09:45:25|
|      3|  Abu Dhabi|       101|2006-02-15 09:45:25|
|      4|       Acua|        60|2006-02-15 09:45:25|
|      5|      Adana|        97|2006-02-15 09:45:25|
|      6|Addis Abeba|        31|2006-02-15 09:45:25|
+-------+-----------+----------+-------------------+
only showing top 5 rows

In [131]:
df_city.write.format('hive').saveAsTable('mba.city')

In [132]:
df_hive = spark.read.table('mba.city')

In [133]:
df_hive.show(2)

+-------+---------+----------+-------------------+
|city_id|     city|country_id|        last_update|
+-------+---------+----------+-------------------+
|      2|     Abha|        82|2006-02-15 09:45:25|
|      3|Abu Dhabi|       101|2006-02-15 09:45:25|
+-------+---------+----------+-------------------+
only showing top 2 rows

In [134]:
df_hive.join(df_city,df_city.city_id == df_hive.city_id).show()

+-------+--------------------+----------+-------------------+-------+--------------------+----------+-------------------+
|city_id|                city|country_id|        last_update|city_id|                city|country_id|        last_update|
+-------+--------------------+----------+-------------------+-------+--------------------+----------+-------------------+
|      2|                Abha|        82|2006-02-15 09:45:25|      2|                Abha|        82|2006-02-15 09:45:25|
|      3|           Abu Dhabi|       101|2006-02-15 09:45:25|      3|           Abu Dhabi|       101|2006-02-15 09:45:25|
|      4|                Acua|        60|2006-02-15 09:45:25|      4|                Acua|        60|2006-02-15 09:45:25|
|      5|               Adana|        97|2006-02-15 09:45:25|      5|               Adana|        97|2006-02-15 09:45:25|
|      6|         Addis Abeba|        31|2006-02-15 09:45:25|      6|         Addis Abeba|        31|2006-02-15 09:45:25|
|      7|                Aden|       107|2006-02-15 09:45:25|      7|                Aden|       107|2006-02-15 09:45:25|
|      8|               Adoni|        44|2006-02-15 09:45:25|      8|               Adoni|        44|2006-02-15 09:45:25|
|      9|          Ahmadnagar|        44|2006-02-15 09:45:25|      9|          Ahmadnagar|        44|2006-02-15 09:45:25|
|     10|            Akishima|        50|2006-02-15 09:45:25|     10|            Akishima|        50|2006-02-15 09:45:25|
|     11|               Akron|       103|2006-02-15 09:45:25|     11|               Akron|       103|2006-02-15 09:45:25|
|     12|              al-Ayn|       101|2006-02-15 09:45:25|     12|              al-Ayn|       101|2006-02-15 09:45:25|
|     13|           al-Hawiya|        82|2006-02-15 09:45:25|     13|           al-Hawiya|        82|2006-02-15 09:45:25|
|     14|           al-Manama|        11|2006-02-15 09:45:25|     14|           al-Manama|        11|2006-02-15 09:45:25|
|     15|          al-Qadarif|        89|2006-02-15 09:45:25|     15|          al-Qadarif|        89|2006-02-15 09:45:25|
|     16|            al-Qatif|        82|2006-02-15 09:45:25|     16|            al-Qatif|        82|2006-02-15 09:45:25|
|     17|         Alessandria|        49|2006-02-15 09:45:25|     17|         Alessandria|        49|2006-02-15 09:45:25|
|     18|Allappuzha (Allep...|        44|2006-02-15 09:45:25|     18|Allappuzha (Allep...|        44|2006-02-15 09:45:25|
|     19|             Allende|        60|2006-02-15 09:45:25|     19|             Allende|        60|2006-02-15 09:45:25|
|     20|     Almirante Brown|         6|2006-02-15 09:45:25|     20|     Almirante Brown|         6|2006-02-15 09:45:25|
|     21|            Alvorada|        15|2006-02-15 09:45:25|     21|            Alvorada|        15|2006-02-15 09:45:25|
+-------+--------------------+----------+-------------------+-------+--------------------+----------+-------------------+
only showing top 20 rows