In [1]:
import duckdb

In [4]:
con = duckdb.connect('file.db')

In [6]:
dados = duckdb.from_csv_auto('Dados.csv')

In [7]:
print(dados)

┌────────────┬─────────────────────┬─────────────┬───┬────────────┬─────────────────────┬─────────┐
│    date    │      home_team      │  away_team  │ … │    city    │       country       │ neutral │
│    date    │       varchar       │   varchar   │   │  varchar   │       varchar       │ boolean │
├────────────┼─────────────────────┼─────────────┼───┼────────────┼─────────────────────┼─────────┤
│ 1872-11-30 │ Scotland            │ England     │ … │ Glasgow    │ Scotland            │ false   │
│ 1873-03-08 │ England             │ Scotland    │ … │ London     │ England             │ false   │
│ 1874-03-07 │ Scotland            │ England     │ … │ Glasgow    │ Scotland            │ false   │
│ 1875-03-06 │ England             │ Scotland    │ … │ London     │ England             │ false   │
│ 1876-03-04 │ Scotland            │ England     │ … │ Glasgow    │ Scotland            │ false   │
│ 1876-03-25 │ Scotland            │ Wales       │ … │ Glasgow    │ Scotland            │ false   │
│ 1877-03-03 │ England             │ Scotland    │ … │ London     │ England             │ false   │
│ 1877-03-05 │ Wales               │ Scotland    │ … │ Wrexham    │ Wales               │ false   │
│ 1878-03-02 │ Scotland            │ England     │ … │ Glasgow    │ Scotland            │ false   │
│ 1878-03-23 │ Scotland            │ Wales       │ … │ Glasgow    │ Scotland            │ false   │
│     ·      │   ·                 │   ·         │ · │    ·       │   ·                 │   ·     │
│     ·      │   ·                 │   ·         │ · │    ·       │   ·                 │   ·     │
│     ·      │   ·                 │   ·         │ · │    ·       │   ·                 │   ·     │
│ 1977-02-06 │ Kenya               │ Egypt       │ … │ Nairobi    │ Kenya               │ false   │
│ 1977-02-06 │ Tunisia             │ Algeria     │ … │ Tunis      │ Tunisia             │ false   │
│ 1977-02-08 │ Mexico              │ Yugoslavia  │ … │ Monterrey  │ Mexico              │ false   │
│ 1977-02-09 │ Bolivia             │ Paraguay    │ … │ Cochabamba │ Bolivia             │ false   │
│ 1977-02-09 │ England             │ Netherlands │ … │ London     │ England             │ false   │
│ 1977-02-09 │ Republic of Ireland │ Spain       │ … │ Dublin     │ Republic of Ireland │ false   │
│ 1977-02-09 │ Peru                │ Hungary     │ … │ Lima       │ Peru                │ false   │
│ 1977-02-09 │ Thailand            │ Israel      │ … │ Bangkok    │ Thailand            │ false   │
│ 1977-02-09 │ Venezuela           │ Uruguay     │ … │ Caracas    │ Venezuela           │ false   │
│ 1977-02-12 │ Australia           │ Israel      │ … │ Melbourne  │ Australia           │ false   │
├────────────┴─────────────────────┴─────────────┴───┴────────────┴─────────────────────┴─────────┤
│ ? rows (>9999 rows, 20 shown)                                               9 columns (6 shown) │
└─────────────────────────────────────────────────────────────────────────────────────────────────┘

In [8]:
type(dados)

duckdb.duckdb.DuckDBPyRelation

In [9]:
dados.to_table('dados')

In [11]:
duckdb.sql('CREATE TABLE new_tbl AS SELECT * FROM read_csv("Dados.csv");')

BinderException: Binder Error: read_csv requires columns to be specified through the 'columns' option. Use read_csv_auto or set read_csv(..., AUTO_DETECT=TRUE) to automatically guess columns.